{% extends 'base.html' %}
{% block 'content' %}
    <div class="d-flex p-4">
        <div class="w-25 me-5">
            {% if product.picture %}
                <img class="card-img-top" src="{{ product.picture.url }}" alt="{{ product.picture }}">
            {% else %}
                <img class="card-img-top" src="" alt="">
            {% endif %}
        </div>
        <div class="w-75">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>price: {{ product.price }}</p>
            <form action="{% url 'orders:cart_add' product.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary">Add to Cart</button>
            </form>
        </div>

    </div>
{% endblock %}